* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* A professional deep blue/purple gradient */
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segeo UI' , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.glass-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 50px;
    text-align: center;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

#clock {
    font-size: 5rem;
    font-weight: 200;
    margin-bottom: 10px;
}

#date {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.9rem;
    opacity: 0.8;
}

.divider {
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
    margin: 30px 0;
}
